In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [11]:
df = pd.read_csv('/content/drive/MyDrive/DA/data/combined_dataset.csv')
df.head()

,title,text,subject,date,label
0,China's ruling Communist Party expels former G...,BEIJING (Reuters) - China s ruling Communist P...,worldnews,"September 22, 2017",1
1,Trump: U.S. will win appeal of judge's travel ...,"WASHINGTON/PALM BEACH, Fla (Reuters) - U.S. Pr...",politicsNews,"February 3, 2017",1
2,A DEFENSIVE JOHN KERRY Asks That Israel Move I...,John Kerry gave a long-winded speech today cla...,Government News,"Dec 28, 2016",0
3,EU calls report on May-Juncker talks a smear,BRUSSELS (Reuters) - The European Commission s...,worldnews,"October 23, 2017",1
4,"HIV POSITIVE, CRACK SMOKING, Liberal Actor Cha...","Less than one year ago, Charlie Sheen s ex-wif...",politics,"Dec 29, 2016",0

In [12]:
df_train, df_test = train_test_split(df, test_size = 0.3, random_state = 42)

In [13]:
df_train.head()

,title,text,subject,date,label
13970,Arizona GOP Poised To Ban Social Justice Clas...,"Another day, another assault on the First Amen...",News,"January 14, 2017",0
41668,Trump Tells Supporters He’ll Enact A Law That...,One would think that Donald Trump would ve lea...,News,"June 22, 2017",0
26810,U.S. Senate to vote on Montenegro's NATO membe...,WASHINGTON (Reuters) - The U.S. Senate will vo...,politicsNews,"March 23, 2017",1
30967,Paul Craig Roberts: ‘By Cooperating with Washi...,By Paul Crag RobertsA month ago I wrote a col...,US_News,"October 26, 2016",0
26072,UNREAL! CBS’S TED KOPPEL Tells Sean Hannity He...,,politics,"Mar 27, 2017",0

In [14]:
df_test.head()

,title,text,subject,date,label
22216,WATCH: Bernie Sanders Makes MAJOR Announcemen...,The mood at Democratic presidential hopeful Be...,News,"March 27, 2016",0
27917,Trump renews threat to scrap NAFTA going into ...,WASHINGTON (Reuters) - U.S. President Donald T...,politicsNews,"August 27, 2017",1
25007,Minor train disruption rattles Singapore's rep...,SINGAPORE (Reuters) - Singapore is grappling w...,worldnews,"November 9, 2017",1
1377,"Factbox: Who are Britain First, whose leader's...",LONDON (Reuters) - U.S. President Donald Trump...,worldnews,"November 29, 2017",1
32476,The Los Angeles Times Endorses Hillary Clinto...,As Politico reports an almost neck-and-neck ra...,News,"May 30, 2016",0

In [16]:
print(len(df_train))
print(len(df_test))

31428
13470

In [17]:
df_train.to_csv('/content/drive/MyDrive/DA/data/train.csv', index = False)
df_test.to_csv('/content/drive/MyDrive/DA/data/test.csv', index = False)